@import "../App/global";
@import "../App/mq";
@import '../App/colors.scss';


$theTomato: orange;

@include mq-add-breakpoint(tvscreen, 820px);

.hide_on_tv {
    @include mq(tvscreen) {
        display: none;
    }
}

.base_on_theme {
  color: var(--color-accent);
  /* color: red; */
  /* composes: theme_dark from './theme.css'; */
  display: block;
}


.themeContainer {
  .theme_red {
    color: tomato;
  }

  .sass_color {
    color: tomato;
  }

}

:global(.sass_color) {
  /* color: lighten(blue, 30%); */
  color: $red;
}
